.btn {
    height: auto;
    width: 70px;
    font-size: larger;
    border: none;
    background-color: white;
}

.btn:hover {
    background-color: rgb(70, 142, 236);
}

.btn:focus {
    outline: thin dotted;
    outline: 0px auto;
    outline-offset: 0px;
}

input {
    border: none;
    background-color: white;
    text-align: center;
    font: normal 15pt Arial;
    color: black;
}

.inp:hover {
    background-color: rgb(70, 142, 236);
}

input:focus {
    outline: thin dotted;
    outline: 0px auto;
    outline-offset: 0px;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder {
   color: black;
}

::-moz-placeholder {
   color: black;
}

:-ms-input-placeholder {
   color: black;
}